/* Optionally, you can style the options if necessary */
.large-dropdown option {
    font-size: 1.5em; /* Ensure options inherit the font size */
}
/* your-component.component.css */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Ensure it is above other content */
  }
  
  .loading-spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .notification {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px;
    border-radius: 5px;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .success {
    background-color: #4CAF50; /* Green */
  }
  
  .error {
    background-color: #f44336; /* Red */
  }

  .icon {
    width: 20px; /* Set a fixed width for the icon */
    height: auto; /* Maintain aspect ratio */
    cursor: pointer; /* Optional: Change cursor to pointer for better UX */
  }

  .ui.segment {
    padding: 1rem; /* Optional: Adjust padding as needed */
}

.icons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icons-container img {
    margin-left: 1rem; /* Space between icons */
    cursor: pointer;
    width: 24px; /* Adjust icon size */
    height: 24px; /* Adjust icon size */
}

.comments-column {
    flex: 2;
}

.comments {
    resize: none; /* Optional: Prevent resizing if you want a fixed size */
}
